@import "../../../bower_components/bootstrap/less/bootstrap.less";

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

.content {
    width: 50%;
    margin: 0 auto;
    display: block;
}

#analyze {
    display: block;
    margin: 10px auto;
}

.input-group {
    margin: 10px auto;
}