@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import (css) "../../../bower_components/bootstrap-table/dist/bootstrap-table.css";

.content {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.menu {
  list-style: none;
  li {
    display: inline-block;
    margin: 10px;
  }
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 20px;
}

.flashes {
  text-align: center;
  color: red;
  padding: 0;
  li {
    display: inline-block;
  }
}

#analyze {
  display: block;
  margin: 10px auto;
}

#vocab-form {
  input, textarea {
    margin: 10px auto;
  }
}

.saved-sets {
  input[type="text"] {
    width: 70px;
  }
}

#header {
  text-align: center;
  a, a:hover {
    color: #000;
    text-decoration: none;
  }
}

#intro {
  text-align: center;
}

#tabs {
  width: 260px;
  margin: 0 auto;
  display: block;
}

#fileInput, #urlInput, #textInput {
  width: 100%;
}

.definition {
  height: 1.1em;
  overflow: hidden;
}

.definition:hover {
  height: auto;
}

.nav-tabs {
  li {
    margin-left: 20px;
  }
}

.author {
  text-align: center;
}

.form-control {
  width: auto;
}

form {
  margin: 0 auto;
  display: table;
}

.form-inline .form-group {
  display: block;
  margin: 10px 0px;
}

#config {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.glyphicon-pencil {
  font-size: 3em;
  display: inline-block;
  margin: 10px;
}

.context_row {
  display: none;
}

.bootstrap-filestyle.input-group {
  input {
    width: 150px !important;
  }
  
  .group-span-filestyle.input-group-btn {
    margin-top: 10px !important;
    display: block !important;
  }

  label {
    max-width: none;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .content {
    width: 75%;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .content {
    width: 75%;
  }
}

