body {
	text-align: center;
	font-family: 'Overlock', cursive;
	background-image: url('../img/dictionary.jpg');
	background-size: cover;
	background-attachment:fixed;
	background-clip:content-box;
	height: 100%;
}

p {
	font-size: 30px;
	color: #C2C2C2;
}

th {
	text-align: center;
}

h1 {
	font-size: 100px;
	color: #FFFFFF;
}

.input {
	margin: 0 auto;
}

h1 > a, h1>a:hover {
	text-decoration: none;
	color: #FFFFFF;
}

button[type="submit"] {
	border: none;
	background-color: 9FFF80;
}


.btn-default {
	font-size: 30px;
}

.content {
	background: rgba(0,0,0,0.9);
	width: 70%;
	margin: 0 auto;
	-webkit-box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.9);
	box-shadow: 0 0px 50px 50px rgba(0, 0, 0, 0.9);
}

.scroll {
	height: 400px;
	margin: 30px auto;
	overflow-y: scroll;
	overflow-x: hidden;
	color: #C2C2C2;
}
